/TTBackEndApi/bin
/TTBackEndApi/obj
/.vs
/URF.Core.Abstractions/bin
/URF.Core.Abstractions.Services/obj
/URF.Core.Abstractions.Services/bin
/URF.Core.Abstractions/obj
/URF.Core.Abstractions.Trackable/bin
/URF.Core.Abstractions.Trackable/obj
/URF.Core.EF/bin
/URF.Core.EF/obj
/URF.Core.EF.Trackable/bin
/URF.Core.EF.Trackable/obj
/URF.Core.Services/bin
/URF.Core.Services/obj
/TTBackEnd.Shared/bin
/TTBackEnd.Shared/obj
/TTBackEnd.Client/bin
/TTBackEnd.Client/obj
/TTFrontEnd/bin
/TTFrontEnd/obj
/Tastee.Shared/bin
/Tastee.Shared/obj
/Tastee.Application/bin
/Tastee.Application/obj
/Tastee.Domain/bin
/Tastee.Domain/obj
/Tastee.Infrastructure.IoC/bin
/Tastee.Infrastructure.IoC/obj
/Tastee.Infrasture.Data/bin
/Tastee.Infrasture.Data/obj
/Tastee.UnitTest/bin
/Tastee.UnitTest/obj
