@model TTBackEnd.Shared.LoginModel
@{
    ViewData["Title"] = "Login";

    var returnUrl = @Context.Request.Query["RequestPath"];

}
    <div class="auth-wrapper">
        <div class="row flex-row h-100 bg-white">

            <div class="col-xl-5 col-lg-7 col-md-8 my-auto">
                <div class="authentication-form mx-auto">

                    <h3>Log In</h3>

                    <form asp-action="Login" asp-controller="Authen" method="post" asp-route-returnurl="@returnUrl">

                        <div class="form-group">
                            <input type="email" asp-for="Email" class="form-control" placeholder="Email" required="" maxlength="200">
                            <i class="ik ik-user"></i>
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input type="password" asp-for="Password" class="form-control" placeholder="Password" required="" maxlength="100">
                            <i class="ik ik-lock"></i>
                        </div>
                        <div class="row">
                            <div class="col text-left">
                                <label class="custom-control custom-checkbox">
                                    <input asp-for="RememberMe" type="checkbox" class="custom-control-input">
                                    <span class="custom-control-label">&nbsp;Remember Me</span>
                                </label>
                            </div>

                        </div>
                        <div class="sign-btn text-center">
                            <button class="btn btn-primary">Sign In</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>