<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        autoReload="true"
        internalLogLevel="Warn"
        internalLogFile="D:\temp\Nloginternal.txt">

  <extensions>
    <!--enable NLog.Web for ASP.NET Core-->
    <add assembly="NLog.Web.AspNetCore" />
  </extensions>

  <!-- define various log targets -->
  <targets>
    <!-- write logs to file -->
    <!--<target xsi:type="File" name="allfile" fileName="logs/WalletInside-all-${shortdate}.log"
                        layout="${longdate}|${uppercase:${level}}|${logger}|${callsite}|${message} ${exception}" />-->

    <target xsi:type="File" name="ownFile" fileName="logs/ShopWalletInside.log"
                    layout="${longdate}|${uppercase:${level}}|${logger}|${callsite}|${message} ${exception}" />
    <target name="Console" xsi:type="Console"  layout="${longdate}|${uppercase:${level}}|${logger}|${callsite}|${message} ${exception}"/>
  </targets>


  <rules>
    <!--All logs, including from Microsoft-->
    <!--<logger name="*" minlevel="Trace" writeTo="allfile" />-->

    <!--Skip Microsoft logs - no writeTo attribute-->
    <logger name="Microsoft.*" maxlevel="Info" final="true" />
    <logger name="*" minlevel="Trace" writeTo="ownFile" />
    <!--<logger name="*" minlevel="Trace" writeTo="Console" />-->
  </rules>
</nlog>